@import '../../../styles.scss';

.espresso-card {
    margin-top: 5px;
}

.espresso-card-header {
    padding: 8px 8px;
}

.sub-sub-title {
    font-weight: bold;
    color: $sienna-subtone;
}

.shot-title {
    color: $sienna-primary !important;
}