<div class="form-container">
    <mat-dialog-content class="form-content" [formGroup]="form">
        <mat-form-field>
            <label class="form-label" for="beanType">Beans (type)</label>
            <input matInput placeholder="Beans (type)" formControlName="beanType" type="text">
        </mat-form-field>
        <mat-form-field>
            <label class="form-label" for="beans">Beans (grams)</label>
            <input matInput placeholder="Beans (grams)" formControlName="beans" type="number">
        </mat-form-field>
        <mat-form-field>
            <label class="form-label" for="grind">Grind</label>
            <input matInput placeholder="Grind" formControlName="grind">
        </mat-form-field>
        <mat-form-field>
            <label class="form-label" for="water">Water (grams)</label>
            <input matInput placeholder="Water (grams)" formControlName="water">
        </mat-form-field>
        <mat-form-field>
            <label class="form-label" for="pressure">Pressure (bars)</label>
            <input matInput placeholder="Pressure (bars)" formControlName="pressure">
        </mat-form-field>
        <mat-form-field>
            <label class="form-label" for="brewTime">Brew Time (seconds)</label>
            <input matInput placeholder="Brew Time (seconds)" formControlName="brewTime">
        </mat-form-field>
        <mat-form-field>
            <label class="form-label" for="flavour">Flavour</label>
            <input class="slider" matInput formControlName="flavour" type="range" min="1" max="5">
        </mat-form-field>
        <mat-form-field>
            <label class="form-label" for="rating">Rating</label>
            <input class="slider" matInput formControlName="rating" type="range" min="1" max="5">
        </mat-form-field>
        <mat-form-field>
            <label class="form-label" for="comments">Comments</label>
            <input matInput placeholder="Comments" formControlName="comments" type="text">
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
        <span class="spacer"></span>
        <button mat-button class="sienna-button" type="button" (click)="save()">Save</button>
    </mat-dialog-actions>
</div>