.espresso-card {
    margin-top: 5px;
}

.espresso-card-header {
    padding: 8px 8px;
}

.sub-sub-title {
    font-weight: bold;
}

ul {
    margin: 0px 0px;
    padding: 0px 0px;
 li {
    list-style-type: none;
    margin: 0px 0px;
    padding: 0px 0px;
 }   
}